	</div>
	<script src="{{AppSubURL}}/js/jquery-1.11.3.min.js"></script>
	<script src="{{AppSubURL}}/js/semantic-2.2.9.min.js"></script>
	<script src="{{AppSubURL}}/plugins/lobibox/js/notifications.js"></script>
	<script src="{{AppSubURL}}/plugins/cookie/js.cookie.js"></script>
	<script src="{{AppSubURL}}/plugins/nicescrool/jquery.nicescroll.min.js"></script>
	<script src="{{AppSubURL}}/plugins/sweetalert2/sweetalert2.min.js"></script>
	<script src="{{AppSubURL}}/js/goby.js?v={{MD5 AppVer}}"></script>
</body>

</html>