<!DOCTYPE html>
<html>

<head data-suburl="{{AppSubURL}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{if not .PageIsAdmin}}
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="author" content="Goby" />
	<meta name="description" content="Goby is a painless self-hosted code push service" />
	<meta name="keywords" content="go, code push, react native, self-hosted, goby" /> {{end}}
	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="{{.CsrfToken}}" />
	<meta name="_suburl" content="{{AppSubURL}}" />

	<!-- Open Graph Tags -->
	{{if .PageIsAdmin}}
	<meta property="og:url" content="{{AppURL}}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{AppName}}">
	<meta property="og:description" content="Goby is a painless self-hosted code push servic.">
	<meta property="og:image" content="{{AppURL}}img/goby-lg.png" />
	<meta property="og:site_name" content="Goby"> {{end}}

	<link rel="shortcut icon" href="{{AppSubURL}}/img/favicon.ico" />

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{{AppSubURL}}/assets/font-awesome-4.6.3/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="{{AppSubURL}}/assets/octicons-4.3.0/octicons.min.css"/>
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/lobibox/css/lobibox.css"/>
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/ionicons/css/ionicons.min.css"/>
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/pacejs/pace.css"/>
	<link rel="stylesheet" href="{{AppSubURL}}/plugins/sweetalert2/sweetalert2.min.css"/>
	<link rel="stylesheet" href="{{AppSubURL}}/css/semantic-2.2.9.min.css"/>
	<link rel="stylesheet" href="{{AppSubURL}}/css/goby.css?v={{MD5 AppVer}}"/>
	<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>

	<meta name="theme-color" content="{{ThemeColorMetaTag}}">
</head>

<body>
	<div id="contextWrap">
		<noscript>Please enable JavaScript in your browser!</noscript>
		<hidden id="notify" data-type="{{if .NotifyType}}{{.NotifyType}}{{else}}info{{end}}" data-size="normal" data-message="{{if .NotifyMsg}}{{.NotifyMsg}}{{end}}"
		/> {{if not .PageIsInstall}}
		<!--sidebar-->
		<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;"
		 data-color="grey">
			 <a class="item logo" href="{{AppSubURL}}/">
				<img src="{{AppSubURL}}/img/logo.png" alt="stagblogo" />
				<img src="{{AppSubURL}}/img/thumblogo.png" alt="stagblogo" class="displaynone" />
            </a>
			<div class="ui accordion inverted">
				<a class="title item{{if .PageIsApps}} active{{end}}" href="{{AppSubURL}}/web/app/list">
					 <i class="ion-ios-lightbulb titleIcon icon"></i> <span class="colhidden">Apps</span></a>
				<a class="title item{{if .PageIsAccessKeys}} active{{end}}" href="{{AppSubURL}}/web/access_key/list">
					 <i class="ion-key titleIcon icon"></i> <span class="colhidden">Keys</span>
					</a>
				<div class="ui divider"></div>

				<a class="title item" target="_blank" href="document.html" rel="noreferrer">
                	<i class="ion-help titleIcon icon"></i> <span class="colhidden">Help</span>
            	</a>

			</div>
		</div>

		<div class="pusher">
			<!--navbar-->
			<div class="navslide navwrap">
				<div class="ui menu icon borderless grid" data-color="inverted white">
					<a class="item labeled openbtn">
                        <i class="ion-navicon-round big icon"></i>
                    </a> {{if .IsSigned}}
					<div class="right menu colhidden">
						<div class="ui dropdown item">
							<img class="ui mini circular image" src="{{AppSubURL}}/img/avatar_default.jpg" alt="label-image" />
							<div class="menu" tabindex="-1">
								<div class="ui header">
									已登录用户 <strong>{{.SignedUser.UserName}}</strong>
								</div>

								<div class="divider"></div>
								<a class="item" href="{{AppSubURL}}/{{.SignedUser.UserName}}">
									<i class="octicon octicon-person"></i>
									个人信息
								</a>
								<a class="{{if .PageIsUserSettings}}active{{end}} item" href="{{AppSubURL}}/user/settings">
									<i class="octicon octicon-settings"></i>
									用户设置
								</a>
								<a class="item" target="_blank" href="https://github.com/MessageDream/goby" rel="noreferrer">
									<i class="octicon octicon-question"></i>
									帮助
								</a> {{if .IsAdmin}}
								<div class="divider"></div>

								<a class="{{if .PageIsAdmin}}active{{end}} item" href="{{AppSubURL}}/web/admin">
									<i class="icon settings"></i>
                                         管理面板
								</a> {{end}}

								<div class="divider"></div>
								<a class="item" href="{{AppSubURL}}/web/auth/signout">
									<i class="octicon octicon-sign-out"></i>
									登出
								</a>
							</div>
							<!-- end content avatar menu -->
						</div>
						<!-- end dropdown avatar menu -->
					</div>
					<!-- end signed user right menu -->

					{{else}}

					<div class="right menu">
						{{if .ShowRegistrationButton}}
						<a class="item{{if .PageIsSignUp}} active{{end}}" href="{{AppSubURL}}/web/auth/signup">
							<i class="octicon octicon-person"></i>
							 注册
						</a> {{end}}
						<a class="item{{if .PageIsSignIn}} active{{end}}" href="{{AppSubURL}}/web/auth/signin?redirect_to={{.Link}}">
							<i class="octicon octicon-sign-in"></i>
							 登陆
						</a>
					</div>
					<!-- end anonymous right menu -->

					{{end}}
				</div>
			</div>
		</div>
		{{end}}
		<!--navbar-->
		<!--maincontent-->
		<div class="mainWrap navslide">
			{{/*
		</div>
	</div>
</body>

</html>
*/}}