<!DOCTYPE html>
<html>
<head data-suburl="{{AppSubURL}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	{{if not .PageIsAdmin}}
		<meta name="author" content="Goby" />
		<meta name="description" content="Goby is a painless self-hosted code push service" />
		<meta name="keywords" content="go, code push, react native, self-hosted, goby"/>
	{{end}}
	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="{{.CsrfToken}}" />
	<meta name="_suburl" content="{{AppSubURL}}" />
	
	<!-- Open Graph Tags -->
	{{if .PageIsAdmin}}
		<meta property="og:url" content="{{AppURL}}" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{AppName}}">
		<meta property="og:description" content="Goby is a painless self-hosted code push servic.">
		<meta property="og:image" content="{{AppURL}}img/goby-lg.png" />
		<meta property="og:site_name" content="Goby">
	{{end}}

	<link rel="shortcut icon" href="{{AppSubURL}}/img/favicon.ico" />

	<script src="{{AppSubURL}}/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="{{AppSubURL}}/assets/font-awesome-4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{AppSubURL}}/assets/octicons-4.3.0/octicons.min.css">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{{AppSubURL}}/css/semantic-2.2.9.min.css">
	<link rel="stylesheet" href="{{AppSubURL}}/css/goby.css?v={{MD5 AppVer}}">

	<!-- JavaScript -->
	<script src="{{AppSubURL}}/js/semantic-2.2.9.min.js"></script>
	<script src="{{AppSubURL}}/js/goby.js?v={{MD5 AppVer}}"></script>

	<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>

	<meta name="theme-color" content="{{ThemeColorMetaTag}}">
</head>
<body>
	<div class="full height">
		<noscript>Please enable JavaScript in your browser!</noscript>

		{{if not .PageIsInstall}}
			<div class="following bar light ui dividing header">
				<div class="ui container">
					<div class="ui grid">
						<div class="column">
							<div class="ui top secondary menu">
								<a class="item brand" href="{{AppSubURL}}/">
									<img class="ui mini image" src="{{AppSubURL}}/img/favicon.png">
								</a>

								{{if .IsSigned}}
									
								{{else}}
									<a class="item{{if .PageIsHome}} active{{end}}" href="{{AppSubURL}}/">主页</a>
								{{end}}
									<a class="item{{if .PageIsApps}} active{{end}}" href="{{AppSubURL}}/web/app/list">应用管理</a>
									<a class="item{{if .PageIsAccessKeys}} active{{end}}" href="{{AppSubURL}}/web/access_key/list">我的密钥</a>
								{{if .IsSigned}}
								
									<div class="right menu colhidden">
										<div class="ui dropdown item">
											<span class="text">
										   		<i class="user icon"></i> 
										   		<i class="dropdown icon"></i>
											</span>
											<div class="menu" tabindex="-1">
												<div class="ui header">
													已登录用户 <strong>{{.SignedUser.UserName}}</strong>
												</div>

												<div class="divider"></div>
												<a class="item" href="{{AppSubURL}}/{{.SignedUser.UserName}}">
													<i class="octicon octicon-person"></i>
													个人信息
												</a>
												<a class="{{if .PageIsUserSettings}}active{{end}} item" href="{{AppSubURL}}/user/settings">
													<i class="octicon octicon-settings"></i>
													用户设置
												</a>
												<a class="item" target="_blank" href="https://goby.io/docs" rel="noreferrer">
													<i class="octicon octicon-question"></i>
													帮助
												</a>
												{{if .IsAdmin}}
													<div class="divider"></div>

													<a class="{{if .PageIsAdmin}}active{{end}} item" href="{{AppSubURL}}/admin">
														<i class="icon settings"></i>
                                                    管理面板
													</a>
												{{end}}

												<div class="divider"></div>
												<a class="item" href="{{AppSubURL}}/web/auth/signout">
													<i class="octicon octicon-sign-out"></i>
													登出
												</a>
											</div><!-- end content avatar menu -->
										</div><!-- end dropdown avatar menu -->
									</div><!-- end signed user right menu -->

								{{else}}

									<a class="item" target="_blank" href="https://goby.io/docs" rel="noreferrer">帮助</a>
									<div class="right menu">
										{{if .ShowRegistrationButton}}
											<a class="item{{if .PageIsSignUp}} active{{end}}" href="{{AppSubURL}}/web/auth/signup">
												<i class="octicon octicon-person"></i> 注册
											</a>
										{{end}}
										<a class="item{{if .PageIsSignIn}} active{{end}}" href="{{AppSubURL}}/web/auth/signin?redirect_to={{.Link}}">
											<i class="octicon octicon-sign-in"></i> 登陆
										</a>
									</div><!-- end anonymous right menu -->

								{{end}}
							</div><!-- end top menu -->
						</div><!-- end column -->
					</div><!-- end grid -->
				</div><!-- end container -->
			</div><!-- end bar -->
		{{end}}
{{/*
	</div>
</body>
</html>
*/}}
