
language: go

os:
  - linux
  - osx
  
sudo: required

go:
  - 1.8.1

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install glide; fi

  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then echo -e "\n" | sudo add-apt-repository ppa:masterminds/glide; fi  
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; fi 
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install glide; fi 

install:
  - glide install

script: 
  - go test $(glide novendor)
  - go build

deploy: off