
language: go

os:
  - linux
  - osx
  
sudo: required

go:
  - 1.8.1

before_install:
  - echo -e "\n" | add-apt-repository ppa:masterminds/glide 
  - apt-get update
  - apt-get install glide

install:
  - glide install

script: 
  - go test $(glide novendor)
  - go build

deploy: off