{{template "base/header" .}}
<div class="ui container">
  <table class="ui  striped table">
    <thead>
      <tr>
          <th >名称 </th>
          <th >Key</th>
          <th >创建者</th>
          <th >是否是Session</th>
          <th >创建时间 </th>
          <th >过期时间 </th>
          <th class="center aligned">操作</th>
      </tr>
    </thead>
    <tbody>
      {{range .Keys}}
      <tr>
        <td >
          <h4 class="ui image header">
            <i class="octicon octicon-key"></i>
            {{.Name}}
          </h4>
        </td>
        <td >{{.Token}}</td>
        <td >{{.CreatedBy}}</td>
        <td >{{.IsSession}}</td>
        <td >{{TimeSince .CreatedAt}}</td>
        <td >{{TimeSince .ExpiresAt}}</td>
        <td class="right aligned">
          <button class="ui pink icon button">
              <i class="trash icon"></i>
              移除
            </button>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{template "base/footer" .}}