{{template "base/header" .}}
<div class="ui equal width left aligned padded grid stackable">

{{template "app/detail/header" .}} 

  <div class="row">
    <!--<div class="sixteen wide tablet ten wide computer column">
      <div class="ui segment">
        <div class="ui feed timeline">
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/Abraham.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                                                Francis	Baldwin
                                            </a> added you as a friend
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 4 Likes
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/carol.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a>Lindsey Daniels</a> added <a>2 new illustrations</a>
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="img/bg/1.png" alt="bg-image" /></a>
                <a><img src="img/bg/3.png" alt="bg-image" /></a>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 1 Like
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/Daryl.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                                                Walter	Stewart
                                            </a> added you as a friend
                <div class="date">
                  2 Days Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 8 Likes
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/deana.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a>Loretta	Burke</a> posted on his page
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even
                if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 5 Likes
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/enid.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a>Meredith	Barnes</a> added <a>2 new photos</a> of you
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="img/bg/5.png" alt="bg-image" /></a>
                <a><img src="img/bg/6.png" alt="bg-image" /></a>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 41 Likes
                                            </a>
              </div>
            </div>
          </div>

          <div class="event">
            <div class="label">
              <img src="img/avatar/people/Glenn.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                                                Tami Maxwell
                                            </a> added you as a friend
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 4 Likes
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/Hershell.png" alt="label-image">
            </div>
            <div class="content">
              <div class="summary">
                <a>Doris Grant</a> added <a>2 new illustrations</a>
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="img/bg/2.png"></a>
                <a><img src="img/bg/4.png"></a>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 1 Like
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/Hershell.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                                                Julia Anderson
                                            </a> added you as a friend
                <div class="date">
                  2 Days Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 8 Likes
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/Meggie.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a>Jennifer	Clarke</a> posted on his page
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even
                if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 5 Likes
                                            </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="img/avatar/people/Michonne.png" alt="label-image" />
            </div>
            <div class="content">
              <div class="summary">
                <a>Elizabeth Weaver</a> added <a>2 new photos</a> of you
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="img/bg/7.png"></a>
                <a><img src="img/bg/1.png" alt="bg-image" /></a>
              </div>
              <div class="meta">
                <a class="like">
                                                <i class="like icon"></i> 41 Likes
                                            </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    {{$user := .SignedUser}}
    {{$owner := .Owner}}
    <div class="sixteen wide tablet six wide computer column">
      <div class="ui segments">
        <div class="ui segment stackable">
          <strong>Collaborators</strong>
          <button id="col_add" class="ui blueli right floated button">
            <i class="ui add icon"></i>
            Add
          </button>
        </div>
        <div class="ui segment">
          <div class="ui items">
            {{range .Collaborators}}
            <div class="item">
              <div class="ui tiny rounded image">
                <img src="{{AppSubURL}}/img/goby.png" alt="label-image" />
              </div>
              <div class="content">
                <a class="header" href="#">{{.Email}}</a>
                <div class="meta">
                  <span class="cinema">{{if eq .Role 1}}Owner{{else}}Member{{end}}</span>
                </div>
                <div class="description">
                  <p></p>
                </div>
                <div class="extra">
                  {{$condition1 := eq $user.Email .Email}}
                  {{$condition2 := ne $user.Email $owner}}
                  <button class="ui {{if or $condition1 $condition2 }}disabled{{end}} button redli inverted tiny col_remove" data-email="{{.Email}}" >Remove</button>
                  <button class="ui {{if or $condition1 $condition2 }}disabled{{end}} button greenli inverted tiny col_transfer" data-email="{{.Email}}">Transfer to this guy</button>
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "base/footer" .}}
<link href="{{AppSubURL}}/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="{{AppSubURL}}/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="{{AppSubURL}}/js/app.js?v={{MD5 AppVer}}"></script>
