{{template "base/header_no_nav" .}}
<div class="ui grid center aligned">
	<div class="row">
		<div class="sixteen wide tablet six wide computer column">
			<div class="ui left aligned segment">

				<form id="form_login" class="ui form {{if or .Err_UserName .Err_Password}}error{{end}}" action="{{.Link}}" method="post">

					<h1 class="ui header center aligned">
						<img src="{{AppSubURL}}/img/goby.png" alt="stagblogo" class="ui small image">

						<div class="content">
							{{.CsrfTokenHtml}}
						</div>
					</h1>

					<div class="field {{if .Err_UserName}}error{{end}}">
						<label>
                                    Email or Username:
                                </label>
						<div class="ui fluid icon input ">
							<input name="user_name" type="email" value="{{.user_name}}" autofocus autocomplete style="width:100%!important;min-width:100%;width:100%;">
							<i class="icon mail outline"></i>
						</div>
					</div>
					<div class="field {{if .Err_Password}}error{{end}}">
						<label>Password:</label>
						<div class="ui fluid icon input ">
							<input name="password" type="password" value="{{.password}}" autofocus autocomplete="off" style="width:100%!important;min-width:100%;width:100%;">
							<i class="icon key"></i>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input name="remember" type="checkbox">
							<label class="coloring blue" for="remember">Remember</label>
						</div>
						<a style="float:right" href="{{AppSubURL}}/web/auth/forget_password">Forget Password ?</a>
					</div>
					<div class="field">

						<a class="ui submit teal right labeled icon button fluid" onclick="$('#form_login').submit()">
                                    Login
                                    <i class="icon sign in"></i>
                                </a>

						<a class="ui blue right labeled icon button fluid" href="{{AppSubURL}}/web/auth/signup">
                                    Sign Up
                                    <i class="icon spy"></i>
                                </a>
					</div>
					<div class="ui error message">
						{{if .Flash.ErrorMsg}}
						<ul class="list">
							<li>{{.Flash.ErrorMsg}}</li>
						</ul>
						{{end}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{template "base/footer_no_nav" .}} 
{{template "base/background" .}}
<script>
	document.onkeydown = function keyListener(e) {
		if (e.keyCode == 13) {
			$('#form_login').submit();
		}
	}
</script>