{{template "base/header" .}}
<div class="ui container">
  <table class="ui striped table">
    <thead>
      <tr>
          <th >名称 </th>
          <th >成员</th>
          <th >部署 </th>
          <th class="center aligned">操作 </th>
      </tr>
    </thead>
    <tbody>
        {{range .Apps}}
      <tr>
        <td ><i class="apple icon"></i>{{.Name}}</td>
        <td >
          <div class="ui list">
            {{range $k,$v := .Collaborators}}
            <div class="item">
              <i class="{{if eq .Permission "Owner"}}user{{else}}child{{end}} icon"></i>
              <div class="content">
                {{if .IsCurrentAccount}}
                  Self
                {{else}}
                  {{$k}}
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
        </td>
        <td >
          <div class="ui list">
            {{range .Deployments}}
            <div class="item">
              <i class="tag icon"></i>
              <div class="content">{{.}} </div>
            </div>
              {{end}}
          </div>
        </td>
        <td class="right aligned">
            <button class="ui blue icon {{if not .IsOwner}}disabled{{end}} button">
              <i class="fork icon"></i>
              添加部署
            </button>
            <button class="ui green icon {{if not .IsOwner}}disabled{{end}} button">
              <i class="add user icon"></i>
              添加成员
            </button>
            <button class="ui pink icon {{if not .IsOwner}}disabled{{end}} button">
              <i class="trash icon"></i>
              移除
            </button>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{template "base/footer" .}}